body {
  background: rgb(0, 0, 0);
  font: normal 15pt Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.438);
}

#imagem {
  width: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#horarioDoDia {
  text-align: center;
}
